my_cv
{
  /*text-align: center;*/
  font-size: 10px;
  color: white;
  /*padding: 10px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 400px;
  margin: auto;
  color: black;
  column-gap: 50px;
}
.one
{
  float: left;
  width: 600px;
  height: 1300px;
  border: 100px;
  margin-right: 50px;
}
.two
{
  float: left;
  width: 600px;
  height: 1300px;

}

#my-photo{
  border-radius :50%;
  width: 186px;
  height: 186px;
  margin-right: 50px;


}
.contact-info{
}
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
  vertical-align: text-top;
  color: rgba(129, 10, 10, 0.99);


}

/* styles.css */
.circle-series-container {
  display: flex;
  justify-content: flex-start; /* Aligns children to the right */
  align-items: center;
  flex-direction: row;

}


.circle_series .material-symbols-outlined {
  font-variation-settings:
    'FILL' 10;
  font-size: 15px;
  vertical-align: text-bottom;


}

#circle1 {
  padding-left: 5px;
}
#circle12 {
  padding-left: 5px;

}
#circle13 {
  padding-left: 5px;
  font-variation-settings: 'FILL' 10;
}
#circle23 {
  font-variation-settings: 'FILL' 0;
}
#circle33 {
  font-variation-settings: 'FILL' 0;
}
#circle43 {
  font-variation-settings: 'FILL' 0;
}
#circle53 {
  font-variation-settings: 'FILL' 0;
}

.book {
  padding: 10px; border: 1px solid;
  width: fit-content;

}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.contact-info{
  padding-top: 25px;

  /*text-align: center;*/
  /*padding: 10px;*/
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*height: 100%;*/
  flex-direction: column;
  flex-wrap: wrap;


}

/*#skills{*/
/*  display: flex;*/
/*  gap: 5px;*/
/*flex-wrap: wrap*/
/*}*/


.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  flex-direction: row;
  column-gap: 5px;
}

.skill{
  padding: 10px; border: 1px solid;
  width: fit-content;

}

.info{
  padding-bottom: 15px;
}
